django>=5.2
django-admin-interface>=0.30
django-admin-honeypot>=1.1.0
django-ipware==4.0.2
python-dotenv==1.0.1
sentry-sdk==2.19
django-extra-settings
django-allauth==65.3.1
django-hCaptcha==0.2.0
whitenoise==6.2.0
django-maintenance-mode==0.16.3
django-pwa==1.0.10
pyminizip
discord-webhook
pytz
djlint
django-extensions
Werkzeug
PyJWT
gunicorn
cryptography
psycopg2-binary